<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab class="custom_tab" label="" icon="log-in"  href="/login">     
            </ion-tab>
            <ion-tab class="custom_tab" label="" icon="create" href="/register">
              </ion-tab>
              <ion-tab label="" style="font-size:50px; background:#0064c8;" icon="add" color="primary" class="center-tab" href="/register">
              </ion-tab>
           
                     
              <ion-tab class="custom_tab" label="" icon="heart" href="/favourite">
              </ion-tab>
              <ion-tab class="custom_tab" href="/favourite"><img src="../assets/imgs/avatar.png">
              </ion-tab>
          </ion-tabs>
          
          </ion-toolbar>
  </ion-footer>