<ion-app>
  <ion-split-pane>
      <ion-menu>       
      <ion-content>
        <!--user Image-->        
              <div class="user_img">
                <div class="user_header">
                </div>
                <div class="mr-inv"> <img src="assets/imgs/avatar.png"/></div>
               

                <h3 text-center color="primary">Smith Fidel</h3>
                <p class="text-muted text-center"><ion-icon name="pin"></ion-icon>Pune-INDIA</p>
                <p class="text-center" (click)="logout()">Logout</p>
                </div>
                      
          <!--Menu List Goes Here--> 
    
        <ion-list no-lines>    
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">         
            <ion-item class="item item-avatar" [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
   
  </ion-split-pane>
</ion-app>
