<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

    <div class="timeline">      
        <ion-item height-60>
          <ion-avatar slot="start">
            <img src="assets/imgs/avatar.png">
          </ion-avatar>
          <div style="display:block;">@LeeCross</div>
          
          <div class="text-muted" font-size-10> - Miracles Lee Cross</div>       
      
           <i class="fa fa-ellipsis-v" aria-hidden="true" slot="end"></i>
        </ion-item> 

        <!--Image Slider-->
        <ion-slides pager>

            <ion-slide>
                <img clas="slide" src="assets/imgs/2.jpg">
            </ion-slide>
          
            <ion-slide>
                <img src="assets/imgs/3.jpg">
            </ion-slide>
          
            <ion-slide>
                <img src="assets/imgs/4.jpg">
            </ion-slide>
            <ion-slide>
                <img src="assets/imgs/5.jpg">
            </ion-slide>
          
          </ion-slides>
             
              <!--image slide end here-->
              
          <div class="subtimeline">

              <ion-row>
                  <ion-col width-5>
                     <span>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>                 
                   </ion-col>
                  <ion-col width-5>                 
                     <i class="fa fa-comment-o"></i>         
                  </ion-col>
                  <ion-col center text-center>
                   
                    <ion-note>
                      11h ago
                    </ion-note>
                  </ion-col>
                </ion-row>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
       
      
       
      </div>
      
     </div>

     <!--Second Goes Here-->

     <div class="timeline">      
        <ion-item height-60>
          <ion-avatar slot="start">
            <img src="assets/imgs/avatar.png">
          </ion-avatar>
          <div style="display:block;">@LeeCross</div>
          
          <div class="text-muted">Miracles Lee Cross</div>       
      
           <i class="fa fa-ellipsis-v" aria-hidden="true" slot="end"></i>
        </ion-item> 

        <!--Image Slider-->
        <ion-slides pager>

            <ion-slide>
                <img clas="slide" src="assets/imgs/2.jpg">
            </ion-slide>
          
            <ion-slide>
                <img src="assets/imgs/3.jpg">
            </ion-slide>
          
            <ion-slide>
                <img src="assets/imgs/4.jpg">
            </ion-slide>
            <ion-slide>
                <img src="assets/imgs/5.jpg">
            </ion-slide>
          
          </ion-slides>
             
              <!--image slide end here-->
              
          <div class="subtimeline">

              <ion-row>
                  <ion-col width-5>
                     <span>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>                 
                   </ion-col>
                  <ion-col width-5>                 
                     <i class="fa fa-comment-o"></i>         
                  </ion-col>
                  <ion-col center text-center>
                   
                    <ion-note>
                      11h ago
                    </ion-note>
                  </ion-col>
                </ion-row>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
       
      
       
      </div>
      
     </div>
  <div class="card-background-page">
    <ion-card>
        <img src="assets/imgs/1.jpeg"/>
        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card>
    
      <ion-card>
        <img src="assets/imgs/2.jpg"/>
        <div class="card-title">Amsterdam</div>
        <div class="card-subtitle">64 Listings</div>
      </ion-card>
    
      <ion-card>
        <img src="assets/imgs/3.jpg"/>
        <div class="card-title">San Francisco</div>
        <div class="card-subtitle">72 Listings</div>
      </ion-card>
    
      <ion-card>
        <img src="assets/imgs/4.jpg"/>
        <div class="card-title">Madison</div>
        <div class="card-subtitle">28 Listings</div>
      </ion-card>
    </div>
</ion-content>


    <app-footer-menu></app-footer-menu>
